
.instructions {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2rem;
    margin-top: 5vh;
    text-align: center;
    line-height: 3rem;
}

.title {
    text-align: center;
    font-size: 2rem;
}

